[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  padding: 50px 0;
  height: auto;
}
header {
  margin-bottom: 50px;

  h1 {
    text-align: center;
  }
}

.SearchForm input {
  margin: 0;
}

.SearchResults {
  list-style-position: inside;
  list-style: none;
  border: 1px solid #ccc;
  background-color: #eee;
  font-size: 14px;
  margin: 0;
  padding: 0;
  h3 {
    margin: 0;
    font-size: 1.2em;
    background-color: #00a388;
    color: #fff;
    padding: 5px;
  }
  .empty {
    padding: 5px;
    text-align: center;

  }
  a {
    padding: 5px;
    letter-spacing: 1px;
    color: #444;
    display: block;
    overflow: hidden;
    &:hover {
      background-color: #ddd;
    }
  }
  span,
  strong {
    vertical-align: bottom;
  }
  .value {
    float: left;
  }
  .freq {
    float: right;
    font-size: 0.75em;
  }
}

.oboe {
  background-color: darken(#00a388, 15%);
  color: white;
  font-size: 10px;
}
.http {
  background-color: darken(#00a388, 0%);
  color: white;
  font-size: 10px;
}