[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

body {
  padding: 50px 0;
  height: auto; }

header {
  margin-bottom: 50px; }
  header h1 {
    text-align: center; }

.SearchForm input {
  margin: 0; }

.SearchResults {
  list-style-position: inside;
  list-style: none;
  border: 1px solid #ccc;
  background-color: #eee;
  font-size: 14px;
  margin: 0;
  padding: 0; }
  .SearchResults h3 {
    margin: 0;
    font-size: 1.2em;
    background-color: #00a388;
    color: #fff;
    padding: 5px; }
  .SearchResults .empty {
    padding: 5px;
    text-align: center; }
  .SearchResults a {
    padding: 5px;
    color: #444;
    display: block;
    overflow: hidden; }
    .SearchResults a:hover {
      background-color: #ddd; }
  .SearchResults span {
    vertical-align: middle; }
  .SearchResults .value {
    float: left; }
  .SearchResults .freq {
    float: right;
    font-size: 0.75em; }

.oboe {
  background-color: #005648;
  color: white;
  font-size: 10px; }

.http {
  background-color: #00a388;
  color: white;
  font-size: 10px; }


/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIm1haW4uc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSxhQUFhLFlBQVksaUJBQWlCLGNBQWMsV0FBVztFQUNqRSxTQUFTOztBQUdYO0VBQ0UsU0FBUztFQUNULFFBQVE7O0FBRVY7RUFDRSxlQUFlO0VBQWpCLE9BQU87SUFHSCxZQUFZOztBQUloQixZQUFZO0VBQ1YsUUFBUTs7QUFHVjtFQUNFLHFCQUFxQjtFQUNyQixZQUFZO0VBQ1osUUFBUTtFQUNSLGtCQUFrQjtFQUNsQixXQUFXO0VBQ1gsUUFBUTtFQUNSLFNBQVM7RUFBWCxlQUFlO0lBRVgsUUFBUTtJQUNSLFdBQVc7SUFDWCxrQkFBa0I7SUFDbEIsT0FBTztJQUNQLFNBQVM7RUFDYixlQUFlO0lBRVgsU0FBUztJQUNULFlBQVk7RUFFaEIsZUFBZTtJQUVYLFNBQVM7SUFDVCxPQUFPO0lBQ1AsU0FBUztJQUNULFVBQVU7SUFBZCxlQUFlLENBQUM7TUFFVixrQkFBa0I7RUFFeEIsZUFBZTtJQUVYLGdCQUFnQjtFQUNwQixlQUFlO0lBRVgsT0FBTztFQUNYLGVBQWU7SUFFWCxPQUFPO0lBQ1AsV0FBVzs7QUFJZjtFQUNFLGtCQUFrQjtFQUNsQixPQUFPO0VBQ1AsV0FBVzs7QUFFYjtFQUNFLGtCQUFrQjtFQUNsQixPQUFPO0VBQ1AsV0FBVyIsImZpbGUiOiJtYWluLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIltuZ1xcOmNsb2FrXSwgW25nLWNsb2FrXSwgW2RhdGEtbmctY2xvYWtdLCBbeC1uZy1jbG9ha10sIC5uZy1jbG9haywgLngtbmctY2xvYWsge1xuICBkaXNwbGF5OiBub25lICFpbXBvcnRhbnQ7XG59XG5cbmJvZHkge1xuICBwYWRkaW5nOiA1MHB4IDA7XG4gIGhlaWdodDogYXV0bztcbn1cbmhlYWRlciB7XG4gIG1hcmdpbi1ib3R0b206IDUwcHg7XG5cbiAgaDEge1xuICAgIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgfVxufVxuXG4uU2VhcmNoRm9ybSBpbnB1dCB7XG4gIG1hcmdpbjogMDtcbn1cblxuLlNlYXJjaFJlc3VsdHMge1xuICBsaXN0LXN0eWxlLXBvc2l0aW9uOiBpbnNpZGU7XG4gIGxpc3Qtc3R5bGU6IG5vbmU7XG4gIGJvcmRlcjogMXB4IHNvbGlkICNjY2M7XG4gIGJhY2tncm91bmQtY29sb3I6ICNlZWU7XG4gIGZvbnQtc2l6ZTogMTRweDtcbiAgbWFyZ2luOiAwO1xuICBwYWRkaW5nOiAwO1xuICBoMyB7XG4gICAgbWFyZ2luOiAwO1xuICAgIGZvbnQtc2l6ZTogMS4yZW07XG4gICAgYmFja2dyb3VuZC1jb2xvcjogIzAwYTM4ODtcbiAgICBjb2xvcjogI2ZmZjtcbiAgICBwYWRkaW5nOiA1cHg7XG4gIH1cbiAgLmVtcHR5IHtcbiAgICBwYWRkaW5nOiA1cHg7XG4gICAgdGV4dC1hbGlnbjogY2VudGVyO1xuXG4gIH1cbiAgYSB7XG4gICAgcGFkZGluZzogNXB4O1xuICAgIGNvbG9yOiAjNDQ0O1xuICAgIGRpc3BsYXk6IGJsb2NrO1xuICAgIG92ZXJmbG93OiBoaWRkZW47XG4gICAgJjpob3ZlciB7XG4gICAgICBiYWNrZ3JvdW5kLWNvbG9yOiAjZGRkO1xuICAgIH1cbiAgfVxuICBzcGFuIHtcbiAgICB2ZXJ0aWNhbC1hbGlnbjogbWlkZGxlO1xuICB9XG4gIC52YWx1ZSB7XG4gICAgZmxvYXQ6IGxlZnQ7XG4gIH1cbiAgLmZyZXEge1xuICAgIGZsb2F0OiByaWdodDtcbiAgICBmb250LXNpemU6IDAuNzVlbTtcbiAgfVxufVxuXG4ub2JvZSB7XG4gIGJhY2tncm91bmQtY29sb3I6IGRhcmtlbigjMDBhMzg4LCAxNSUpO1xuICBjb2xvcjogd2hpdGU7XG4gIGZvbnQtc2l6ZTogMTBweDtcbn1cbi5odHRwIHtcbiAgYmFja2dyb3VuZC1jb2xvcjogZGFya2VuKCMwMGEzODgsIDAlKTtcbiAgY29sb3I6IHdoaXRlO1xuICBmb250LXNpemU6IDEwcHg7XG59Il0sInNvdXJjZVJvb3QiOiIvc291cmNlLyJ9 */