[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

body {
  padding: 50px 0;
  height: auto; }

header {
  margin-bottom: 50px; }
  header h1 {
    text-align: center; }

.SearchForm input {
  margin: 0; }

.SearchResults {
  list-style-position: inside;
  list-style: none;
  border: 1px solid #ccc;
  background-color: #eee;
  font-size: 14px;
  margin: 0;
  padding: 0; }
  .SearchResults h3 {
    margin: 0;
    font-size: 1.2em;
    background-color: #00a388;
    color: #fff;
    padding: 5px; }
  .SearchResults .empty {
    padding: 5px;
    text-align: center; }
  .SearchResults a {
    padding: 5px;
    letter-spacing: 1px;
    color: #444;
    display: block;
    overflow: hidden; }
    .SearchResults a:hover {
      background-color: #ddd; }
  .SearchResults span, .SearchResults strong {
    vertical-align: bottom; }
  .SearchResults .value {
    float: left; }
  .SearchResults .freq {
    float: right;
    font-size: 0.75em; }

.oboe {
  background-color: #005648;
  color: white;
  font-size: 10px; }

.http {
  background-color: #00a388;
  color: white;
  font-size: 10px; }


/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIm1haW4uc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSxhQUFhLFlBQVksaUJBQWlCLGNBQWMsV0FBVztFQUNqRSxTQUFTOztBQUdYO0VBQ0UsU0FBUztFQUNULFFBQVE7O0FBRVY7RUFDRSxlQUFlO0VBQWpCLE9BQU87SUFHSCxZQUFZOztBQUloQixZQUFZO0VBQ1YsUUFBUTs7QUFHVjtFQUNFLHFCQUFxQjtFQUNyQixZQUFZO0VBQ1osUUFBUTtFQUNSLGtCQUFrQjtFQUNsQixXQUFXO0VBQ1gsUUFBUTtFQUNSLFNBQVM7RUFBWCxlQUFlO0lBRVgsUUFBUTtJQUNSLFdBQVc7SUFDWCxrQkFBa0I7SUFDbEIsT0FBTztJQUNQLFNBQVM7RUFDYixlQUFlO0lBRVgsU0FBUztJQUNULFlBQVk7RUFFaEIsZUFBZTtJQUVYLFNBQVM7SUFDVCxnQkFBZ0I7SUFDaEIsT0FBTztJQUNQLFNBQVM7SUFDVCxVQUFVO0lBQWQsZUFBZSxDQUFDO01BRVYsa0JBQWtCO0VBRXhCLGVBQWUsTUFBTSxlQUFlO0lBR2hDLGdCQUFnQjtFQUNwQixlQUFlO0lBRVgsT0FBTztFQUNYLGVBQWU7SUFFWCxPQUFPO0lBQ1AsV0FBVzs7QUFJZjtFQUNFLGtCQUFrQjtFQUNsQixPQUFPO0VBQ1AsV0FBVzs7QUFFYjtFQUNFLGtCQUFrQjtFQUNsQixPQUFPO0VBQ1AsV0FBVyIsImZpbGUiOiJtYWluLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIltuZ1xcOmNsb2FrXSwgW25nLWNsb2FrXSwgW2RhdGEtbmctY2xvYWtdLCBbeC1uZy1jbG9ha10sIC5uZy1jbG9haywgLngtbmctY2xvYWsge1xuICBkaXNwbGF5OiBub25lICFpbXBvcnRhbnQ7XG59XG5cbmJvZHkge1xuICBwYWRkaW5nOiA1MHB4IDA7XG4gIGhlaWdodDogYXV0bztcbn1cbmhlYWRlciB7XG4gIG1hcmdpbi1ib3R0b206IDUwcHg7XG5cbiAgaDEge1xuICAgIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgfVxufVxuXG4uU2VhcmNoRm9ybSBpbnB1dCB7XG4gIG1hcmdpbjogMDtcbn1cblxuLlNlYXJjaFJlc3VsdHMge1xuICBsaXN0LXN0eWxlLXBvc2l0aW9uOiBpbnNpZGU7XG4gIGxpc3Qtc3R5bGU6IG5vbmU7XG4gIGJvcmRlcjogMXB4IHNvbGlkICNjY2M7XG4gIGJhY2tncm91bmQtY29sb3I6ICNlZWU7XG4gIGZvbnQtc2l6ZTogMTRweDtcbiAgbWFyZ2luOiAwO1xuICBwYWRkaW5nOiAwO1xuICBoMyB7XG4gICAgbWFyZ2luOiAwO1xuICAgIGZvbnQtc2l6ZTogMS4yZW07XG4gICAgYmFja2dyb3VuZC1jb2xvcjogIzAwYTM4ODtcbiAgICBjb2xvcjogI2ZmZjtcbiAgICBwYWRkaW5nOiA1cHg7XG4gIH1cbiAgLmVtcHR5IHtcbiAgICBwYWRkaW5nOiA1cHg7XG4gICAgdGV4dC1hbGlnbjogY2VudGVyO1xuXG4gIH1cbiAgYSB7XG4gICAgcGFkZGluZzogNXB4O1xuICAgIGxldHRlci1zcGFjaW5nOiAxcHg7XG4gICAgY29sb3I6ICM0NDQ7XG4gICAgZGlzcGxheTogYmxvY2s7XG4gICAgb3ZlcmZsb3c6IGhpZGRlbjtcbiAgICAmOmhvdmVyIHtcbiAgICAgIGJhY2tncm91bmQtY29sb3I6ICNkZGQ7XG4gICAgfVxuICB9XG4gIHNwYW4sXG4gIHN0cm9uZyB7XG4gICAgdmVydGljYWwtYWxpZ246IGJvdHRvbTtcbiAgfVxuICAudmFsdWUge1xuICAgIGZsb2F0OiBsZWZ0O1xuICB9XG4gIC5mcmVxIHtcbiAgICBmbG9hdDogcmlnaHQ7XG4gICAgZm9udC1zaXplOiAwLjc1ZW07XG4gIH1cbn1cblxuLm9ib2Uge1xuICBiYWNrZ3JvdW5kLWNvbG9yOiBkYXJrZW4oIzAwYTM4OCwgMTUlKTtcbiAgY29sb3I6IHdoaXRlO1xuICBmb250LXNpemU6IDEwcHg7XG59XG4uaHR0cCB7XG4gIGJhY2tncm91bmQtY29sb3I6IGRhcmtlbigjMDBhMzg4LCAwJSk7XG4gIGNvbG9yOiB3aGl0ZTtcbiAgZm9udC1zaXplOiAxMHB4O1xufSJdLCJzb3VyY2VSb290IjoiL3NvdXJjZS8ifQ== */